<%- include("includes/head.ejs");  %>
  <body>
    <h1>Edit your post</h1>
    <p>Post id : <%= post.post_id %></p>
    <p>username : @<%= post.username%></p>
    <form method="post" action="/posts/<%=post.post_id%>?_method=PATCH" class="mb-3">
      <label for="content" class="form-label">content</label>
      <textarea class="form-control" id="content" rows="3" name="content"><%= post.content %></textarea> <br>
      <button class="btn btn-outline-success">Submit</button>
    </form>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
