<%- include("includes/head.ejs");  %>
    <h1>Quora</h1>
    <div class="header">
      <form method="get" action="/posts">
      <input class="form-control search" type="text" placeholder="search" name="q">
      <button class="btn btn-outline-success btn-sm">search</button>
    </form>
    <a href="/posts/new" class="newPost">Create a new post</a>
    <button class="btn"><%= totalPost %> posts</button>
    <button class="btn">sort ASC</button>
    <button class="btn">sort DESC</button>
    </div>
    <hr>
    <% for(post of posts){ %>
      <div class="post">
        <h5 class="username">@<%- post.username %></h5>
        <p class="content"><%- post.content %></p>
        <button class="btn btn-sm "><a href="/posts/<%= post.post_id %>">see in details</a></button>
        <button class="btn btn-sm"><a href="/posts/<%= post.post_id %>/edit">edit</a></button>
        <form method="post" action="/posts/<%= post.post_id %>?_method=DELETE" class="deleteform">
                <button class="btn btn-outline-danger btn-sm">Delete Post</button>
        </form>
        <span><span>
      </div>
    <% } %>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
